---
layout: default
title: Documentation
---

<div class="home">

  <h1>{{ site.title }}</h1>

  <h3>Documentation related links</h3>
  <ul>
    {% for link in site.data.documentation-tools-links %}
      <li>
        <a href="{{ link.href }}">
          {{ link.name }}
        </a> - {{ link.desc }}
      </li>
    {% endfor %}
  </ul>

<h3>All pages</h3>
<ul>
{% for my_page in site.pages %}
  {% if my_page.title %}
  <li><a href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a></li>
  {% endif %}
{% endfor %}
</ul>


</div>
