.palette {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 1;
    flex-basis: 150px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__sample {
    height: 50px;
  }
}

.modal-sample {
  height: 100px;
}
